.menuBox{
	min-height:200px;
	width:300px;
	background: #BADA97;
	color: #434A54;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	border: 2px solid #8CC152;
	padding: 10px;
	text-align: center;
}

.menuButton{
	width:200px;
	border:none;
	margin:10px;
	background:#CFE5B6;
}

.menuButton:hover{
	background:#DCECCB;
}

.menuButton:active{
	background:#CFE5B6;
}

.menuInput{
	min-width: 200px;
	border: none;
	border: 2px solid #8CC152;
	padding-left:5px;
	color: black;
}

.headerStyle{
	font-family: 'PT Sans', sans-serif;
}

.hidden{
	opacity:0;
	display:none;
}

.errorTxt{
	font-size:20px;
	color:#FF5050;
}

.validTxt{
	font-size:20px;
	color: #33CC33;
}

.loadingBox{
	border: 2px solid #38412D;
	margin-top: 60px;
	background: #4a573c;
	text-align: center;
	color: #BADA97;
	padding: 2px;
}

.clientTurn{
	color: "black";
}

.memberTurn{
	color: "#CCCCCC";
}

#endTurnButton {
	position: absolute;
	top: 110px;
	left: 10px;
}

/* Literally Canvas Style Customizations */

.literally{
	position: static;
	min-height:0px;
	height: 100%;
}

.literally .lc-picker{
	top:50px;
	width:90px;
	background-color: transparent;
}

.literally .lc-drawing{
	left:80px;
	border-left: 1px dotted grey;
	border-bottom: 1px dotted grey;
	bottom: 75px;
}

.literally .lc-options{
	left:80px;
	background-color: transparent;
}

.literally .lc-picker{
	z-index: 0;
	border-right: none;
}

.literally .lc-picker .toolbar-button {
	left: 15px;
}

.literally .lc-picker .toolbar-button{
	background: transparent;
	background-image: none;
}

.literally .lc-picker .toolbar-button.disabled{
	background-color:transparent;
}

.literally .lc-picker .thin-button{
	width: 50px;
	height: 50px;
	border-bottom: none;
	border-right: none;
}

.literally .lc-picker .thin-button:nth-child(2n) {
	width: 50px;
}

.literally .lc-picker .fat-button{
	border-bottom: none;
}

.literally .lc-picker .color-well-label{
	border-bottom: none;
}

.literally .lc-options{
	border-top: none;
	height: 75px;
}

.literally .lc-options .basic-button{
	background: #fff;
	background-image: none;
}
