

.menuBox{

	min-height:200px;
	width:300px;
	background: #BADA97;
	color: #434A54;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	border: 2px solid #8CC152;
	padding: 10px;
	text-align: center;
	margin: 20px;

}


.menuButton{
	width:200px;
	border:none;
	
	margin:10px;
	background:#CFE5B6;
}

.menuButton:hover{
	background:#DCECCB;
}
.menuButton:active{
	background:#CFE5B6;
}

.menuInput{
	min-width: 200px;
	border: none;
	border: 2px solid #8CC152;
	padding-left:5px;
	color: black;
}


.headerStyle{
	font-family: 'PT Sans', sans-serif;
}

.hidden{

	opacity:0;
	display:none;
}

.errorTxt{
	font-size:20px;
	color:#FF5050;
}

.validTxt{
	font-size:20px;
	color: #33CC33;
}

.loadingBox{
	border: 2px solid #38412D;
	margin-top: 60px;
	background: #4a573c;
	text-align: center;
	color: #BADA97;
	padding: 2px;
}

.clientTurn{
	color: "black";
}

.memberTurn{
	color: "#CCCCCC";
}